{% extends "base.html" %}

{% block title %}
首页
{% endblock %}
{% block header %}
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">饿了么商家管理系统</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">我要开店</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
                  <li><a href="{{ url_for("cms.shop_index") }}">{{ current_user.username }}</a></li>
                  <li><a href="{{ url_for("cms.login") }}">注销</a></li>
              {% else %}
                  <li><a href="{{ url_for("cms.login") }}">登录</a></li>
                  <li><a href="{{ url_for("cms.register") }}">注册</a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
    <h1>hi{{ current_user.username }}</h1>
        {% else %}
        <h1>首页</h1>
    {% endif %}
{% endblock %}
